$light-green: #10cab7;

$dark_blue: #2c4755;
$dark_blue: #24484f;
$bull_blue: #334752;

$light_gray: #637988;

$white: #ffffff;
$white_1: #fafafa;
$white_2: #ebeced;
$white_3: #f6f6f6;

$light_brown: #575757;
$light_brown_1: #4d4c4c;

$light_black: #1f2021;

$font-family-primary: "Work Sans", sans-serif;
