.column-card_small-item {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    .column-card_small-item_img {
        width: 40px;
        height: 40px;
        margin: 15px;
        padding-top: 10px;
    }
    .column-card_small-item_text {
        :first-child {
            font-size: 20px;
            line-height: 67px;
            font-weight: 800;
        }
        :last-child {
            font-size: 15px;
            letter-spacing: -1px;
            line-height: 27px;
            font-weight: 400;
        }
    }
}