.column-card1 {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    list-style-type: none;

    &__text {
        :first-child {
            font-size: 20px;
            line-height: 67px;
            font-weight: 800;
        }
        :last-child {
            font-size: 15px;
            letter-spacing: -1px;
            line-height: 27px;
            font-weight: 400;
        }
    }

    &__img {
        width: 40px;
        height: 40px;
        margin: 15px;
        padding-top: 10px;
    }
}
