html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./style/homepage.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;800&display=swap")
        title Home oage
    body
        include ../../layout-templates/header
        .header
            p.header__title Hello There!
            p.header__text We are Leon - Super Creative & Minimal
            p.header__text Agency Web Template
        ul.works
            li.column-card
                .column-card__logo
                    img(src="./img/w3.svg" alt="" srcset="")
                .column-card__title Tell Us Your Idea
                .column-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lab
            li.column-card
                .column-card__logo
                    img(src="./img/w1.svg" alt="" srcset="")
                .column-card__title We Will Do All The WOrk
                .column-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lab
            li.column-card
                .column-card__logo
                    img(src="./img/w2.svg" alt="" srcset="")
                .column-card__title Your Product is Worldwide
                .column-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lab
        .services.conteiner
            .great-title
                div services
                div Don't be busy, be productive
            .services-content
                ul.services-items
                    li.column-card1
                        .column-card1__img
                            img(src="./img/s1.svg" alt="" srcset="")
                        .column-card1__text
                            div Graphic Design
                            div Graphic design is the process of visual communication and problem-solving using one or more of typography, photography and illustration.
                    li.column-card1
                        .column-card1__img
                            img(src="./img/s2.svg" alt="" srcset="")
                        .column-card1__text
                            div Web Design
                            div Web design encompasses many different skills and disciplines in the production and maintenance of websites.
                    li.column-card1
                        .column-card1__img
                            img(src="./img/s3.svg" alt="" srcset="")
                        .column-card1__text
                            div UI & UX
                            div Process of enhancing user satisfaction with a product by improving the usability, accessibility, and pleasure provided in the interaction.
                    li.column-card1
                        .column-card1__img
                            img(src="./img/s4.svg" alt="" srcset="")
                        .column-card1__text
                            div Web Development
                            div Web development is a broad term for the work involved in developing a web site for the Internet or an intranet.
                .dec-element
                    div
                    div
        .portfolio
            .great-title
                div portfolio
                div If you do it right, it will last forever.
            ul.portfolio-items
                li.column-card-preview
                    .column-card-preview__img
                        img(src="" alt="" srcset="")
                    .column-card-preview__text
                        div Project Here
                        div My creative ability is very difficult to measure because it can manifest in so many surprising and.
                li.column-card-preview
                    .column-card-preview__img
                        img(src="" alt="" srcset="")
                    .column-card-preview__text
                        div Project Here
                        div My creative ability is very difficult to measure because it can manifest in so many surprising and.
                li.column-card-preview
                    .column-card-preview__img
                        img(src="" alt="" srcset="")
                    .column-card-preview__text
                        div Project Here
                        div My creative ability is very difficult to measure because it can manifest in so many surprising and.
                li.column-card-preview
                    .column-card-preview__img
                        img(src="" alt="" srcset="")
                    .column-card-preview__text
                        div Project Here
                        div My creative ability is very difficult to measure because it can manifest in so many surprising and.
            button.btn-show-more Show Me More
        .about.conteiner
            .great-title
                div about
                div Less is more work
            .about__content
                .about__dec-element
                    div
                    .fig-css
                    div
                .about__text
                    div Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui
                    .line
                    div Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqu
        .contact-background
            .contact.conteiner
                .great-title
                    div contact
                    div We are born to create
            .contact__links
                .text Feel free to drop us a line at:
                .email leonagency@mail.com
                .social
                    p Find us on social networks:
                    img(src="./img/dribble.svg" alt="")
                    img(src="./img/google.svg" alt="")
                    img(src="./img/twitter.svg" alt="")
        include ../../layout-templates/footer
        <script src="./js/homepage.js"></script>